/* ------ Form ------- */

.form {
  min-width: 30%;
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: 3px 4px #ddd6;
  background-color: #eee9;
}

.new-product-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px
}
.new-product-block > .input-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.product-underform {
  display: flex;
  flex-direction: row-reverse
}

/* ------ Tables ------- */

.options-block {
  display: flex;
  align-items: center;
  padding: 15px 0px 0px 0px
}

.tables-container {
  height: inherit;
  width: 100%;
  /* background-color: gray; */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.tables-container::-webkit-scrollbar {
  display: none;
}

.table-block {
  display: inline-block;
  width: 50%;
  /* height: 100%; */
}

.tables-block {
  width: 200%;
  display: flex;
}

@media (max-width: 320px)
{
  .options-block .p-button {
    font-size: 0.9em
  }
}

/*
.ca {
  display: inline-block;
  height: 100%;
  width: 200px;
  background-color: red
}
.cb {
  display: inline-block;
  height: 100%;
  width: 200px;
  background-color: blue
}
.cc {
  display: inline-block;
  height: 100%;
  width: 200px;
  background-color: green
} */
